<label>
    Create Node

    <input type="text" name="title" hx-post="/components/nodequickcreator" hx-trigger="keydown[keyCode===13]" hx-swap="outerHTML" hx-request="json" hx-ext="json-enc">
</label>
